#### ex.1

In [4]:
langs = ['Python', 'R', 'C', 'java']
print(f"I am currently learning {langs[0]}")
print(f"I have no idea about {langs[1]}")
print(f"{langs[2]} is a low-level, high-level language")
print(f"my first programming language is {langs[3]}")

I am currently learning Python
I have no idea about R
C is a low-level, high-level language
my first programming language is java

#### ex.2

In [12]:
[10 * n for n in range(1, 11)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

#### ex.3

In [18]:
DNA = "AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC"
f"{DNA.count('A')} {DNA.count('C')} {DNA.count('G')}"

'20 12 17'

In [19]:
RNA = DNA.replace('T', 'U')
RNA

'AGCUUUUCAUUCUGACUGCAACGGGCAAUAUGUCUCUGUGUGGAUUAAAAAAAGAGUGUCUGAUAGCAGC'

#### ex.4

In [21]:
x = [3, 5, 23, 6, 7]
reduce_ = 1
for elem in x:
    reduce_ *= elem
reduce_

14490

#### ex.5

In [23]:
x = [44,32,65,77,12,86]
x.remove(max(x))
max(x)

77

#### ex.6

In [24]:
email = "alex.andriopoulos@live.com"
email.split('@')[1]

'live.com'

#### ex.7

In [25]:
lst = [1,2,[3,4],[5,[100,200,['Data Science']],23,11],1,7]
lst[3][1][2]

['Data Science']

#### ex.8

In [26]:
x = [32,3,5,4,4,3,2,6,4,5,6,7,8]
list(set(x))

[32, 2, 3, 4, 5, 6, 7, 8]

#### ex.9

In [28]:
x = ['the island', 'pie', 'alien', 'superman', 'once upon a time in America', 'the godfather']
x.sort(key=len)
x

['pie',
 'alien',
 'superman',
 'the island',
 'the godfather',
 'once upon a time in America']

#### ex.10

In [31]:
d = {'k1':[1,2,3,{'tricky':['life','man','machine',{'target':[1,2,3,'Artificial Intelligence']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'Artificial Intelligence'

#### ex.11

In [39]:
price = {  
    "banana": 4,
    "apple": 2,
    "orange": 1.5,
    "pear": 3
}
another = {
    "grapes": 2.5, 
    "mellon": 3
}

In [40]:
if price.keys() & another.keys():
    raise ValueError

price.update(another)
price

{'banana': 4, 'apple': 2, 'orange': 1.5, 'pear': 3, 'grapes': 2.5, 'mellon': 3}

In [41]:
sum(price.values())

16.0

In [45]:
stock = {
   "banana": 6,
   "apple": 0,
   "orange": 32,
   "pear": 15
}

prices = {
   "banana": 4,
   "apple": 2,
   "orange": 1.5,
   "pear": 3
}
earnings = int()
for k in stock:
    earnings += stock[k] * price[k]
earnings

117.0

#### ex.12

In [51]:
employees = {
   'John': {
       'age': 32,
       'position': 'manager',
       'department': 'sales',
       'salary': 50000
   },
   'Alice': {
       'age': 27,
       'position': 'engineer',
       'department': 'engineering',
       'salary': 60000
   },
   'Bob': {
       'age': 24,
       'position': 'assistant',
       'department': 'sales',
       'salary': 30000
   }
}

In [52]:
for k, v in employees.items():
    print(k, v['salary'])

John 50000
Alice 60000
Bob 30000

In [57]:
sum((v['salary'] for v in employees.values()))

140000