##### 9. Nobel prizes (cont'd)
- c) Bonus: how many Nobel prizes were given to people starting their first name with M and ending with l. Use regex here!)
- d) Bonus: Use regex to find all people called "Michael" in the data.
- e) Which laureates were awarded multiple prizes?
- f) Which laureates were awarded prizes in multiple categories?
- g) What is the smallest relative share of a Nobel prize ever given?
- h) Bonus: how many nobel prizes were actually awarded in every category?

In [144]:
import json
import re

In [145]:
try:
    with open('nobel.json', 'r') as f:
        nobel = json.load(f)   
except FileNotFoundError:
    print('File Not Found')

In [146]:
print(json.dumps(nobel['prizes'][0], indent=4))

{
    "year": "2020",
    "category": "chemistry",
    "laureates": [
        {
            "id": "991",
            "firstname": "Emmanuelle",
            "surname": "Charpentier",
            "motivation": "\"for the development of a method for genome editing\"",
            "share": "2"
        },
        {
            "id": "992",
            "firstname": "Jennifer A.",
            "surname": "Doudna",
            "motivation": "\"for the development of a method for genome editing\"",
            "share": "2"
        }
    ]
}

##### c) Bonus: how many Nobel prizes were given to people starting their first name with M and ending with l. Use regex here!)

In [141]:
count = 0
for prize in sorted(nobel['prizes'], key=lambda pr: pr['year']):
    try:
        for laureate in prize['laureates']:
            if re.match(r'[Mm].*[Ii]', laureate['firstname']):
                count += 1
    except KeyError:
        print(f"{prize['year']} {prize['category']} award had no laureates")
f"{count} Nobel prizes were won by someone whose name starts with 'M' and ends with 'I'"

1914 literature award had no laureates
1914 peace award had no laureates
1915 peace award had no laureates
1915 medicine award had no laureates
1916 chemistry award had no laureates
1916 peace award had no laureates
1916 physics award had no laureates
1916 medicine award had no laureates
1917 chemistry award had no laureates
1917 medicine award had no laureates
1918 literature award had no laureates
1918 peace award had no laureates
1918 medicine award had no laureates
1919 chemistry award had no laureates
1921 medicine award had no laureates
1923 peace award had no laureates
1924 chemistry award had no laureates
1924 peace award had no laureates
1925 medicine award had no laureates
1928 peace award had no laureates
1931 physics award had no laureates
1932 peace award had no laureates
1933 chemistry award had no laureates
1934 physics award had no laureates
1935 literature award had no laureates
1939 peace award had no laureates
1940 chemistry award had no laureates
1940 literature award had no laureates
1940 peace award had no laureates
1940 physics award had no laureates
1940 medicine award had no laureates
1941 chemistry award had no laureates
1941 literature award had no laureates
1941 peace award had no laureates
1941 physics award had no laureates
1941 medicine award had no laureates
1942 chemistry award had no laureates
1942 literature award had no laureates
1942 peace award had no laureates
1942 physics award had no laureates
1942 medicine award had no laureates
1943 literature award had no laureates
1943 peace award had no laureates
1948 peace award had no laureates
1955 peace award had no laureates
1956 peace award had no laureates
1966 peace award had no laureates
1967 peace award had no laureates
1972 peace award had no laureates

"35 Nobel prizes were won by someone whose name starts with 'M' and ends with 'I'"

##### d) Bonus: Use regex to find all people called "Michael" in the data.

##### 10. Password Validation
- Write a password validation function: the input should contain at least one lowercase letter, at least one uppercase letter, at least one digit, and at least one symbol  from `[$#/\@*]`. Unmet criteria or any other character should lead to an exception.

In [56]:
def is_pswd_valid(pswd: str) -> bool:
    pattern = r'(?!.*[^a-zA-Z\d$#/\\@*])(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$#/\\@*])^.*'                                            
    match = re.search(pattern, pswd)
    if match:
        print(match.group())
        return True
    else:
        raise ValueError('invalid password')

In [107]:
valid_passwords = ['AADfdsf#123', 'Aa1@', "Alex21\\"]  # last one is essentially one \ (escaped)
invalid_passwords = [' sdfASD1@', 'AAAAAA2@', 'AAAAaaaa**-2']

In [108]:
list(zip(valid_passwords, map(is_pswd_valid, valid_passwords)))

AADfdsf#123
Aa1@
Alex21\

[('AADfdsf#123', True), ('Aa1@', True), ('Alex21\\', True)]

In [109]:
iterator = zip(invalid_passwords, map(is_pswd_valid, invalid_passwords))
for _ in range(len(invalid_passwords)):
    try:
        next(iterator)
    except ValueError:
        pass
print('if this is the only text you see all passwords failed succesfully')

if this is the only text you see all passwords failed succesfully

11. ##### SpaceX
- Extract data from https://api.spacexdata.com/v4/launches (check https://api.spacexdata.com/v4/launches/latest for a single entry), which returns information about the latest SpaceX launch. You could then use the json library to load the response content as a python dictionary, and extract the fields like: flight_number, date, success, name. How many were successful each year?

In [120]:
with open('latest.json', 'r') as f:
    latest = json.load(f)
latest
print(json.dumps(latest, indent=4))

{
    "fairings": null,
    "links": {
        "patch": {
            "small": "https://images2.imgbox.com/eb/d8/D1Yywp0w_o.png",
            "large": "https://images2.imgbox.com/33/2e/k6VE4iYl_o.png"
        },
        "reddit": {
            "campaign": null,
            "launch": "https://www.reddit.com/r/spacex/comments/xvm76j/rspacex_crew5_launchcoast_docking_discussion_and/",
            "media": null,
            "recovery": null
        },
        "flickr": {
            "small": [],
            "original": []
        },
        "presskit": null,
        "webcast": "https://youtu.be/5EwW8ZkArL4",
        "youtube_id": "5EwW8ZkArL4",
        "article": null,
        "wikipedia": "https://en.wikipedia.org/wiki/SpaceX_Crew-5"
    },
    "static_fire_date_utc": null,
    "static_fire_date_unix": null,
    "net": false,
    "window": null,
    "rocket": "5e9d0d95eda69973a809d1ec",
    "success": true,
    "failures": [],
    "details": null,
    "crew": [
        "62dd7196202306255024d13c",
        "62dd71c9202306255024d13d",
        "62dd7210202306255024d13e",
        "62dd7253202306255024d13f"
    ],
    "ships": [],
    "capsules": [
        "617c05591bad2c661a6e2909"
    ],
    "payloads": [
        "62dd73ed202306255024d145"
    ],
    "launchpad": "5e9e4502f509094188566f88",
    "flight_number": 187,
    "name": "Crew-5",
    "date_utc": "2022-10-05T16:00:00.000Z",
    "date_unix": 1664985600,
    "date_local": "2022-10-05T12:00:00-04:00",
    "date_precision": "hour",
    "upcoming": false,
    "cores": [
        {
            "core": "633d9da635a71d1d9c66797b",
            "flight": 1,
            "gridfins": true,
            "legs": true,
            "reused": false,
            "landing_attempt": true,
            "landing_success": true,
            "landing_type": "ASDS",
            "landpad": "5e9e3033383ecbb9e534e7cc"
        }
    ],
    "auto_update": true,
    "tbd": false,
    "launch_library_id": "f33d5ece-e825-4cd8-809f-1d4c72a2e0d3",
    "id": "62dd70d5202306255024d139"
}

flight_number, date, success, name

In [121]:
f'flight number of the latest flight is {latest["flight_number"]}'

'flight number of the latest flight is 187'

In [122]:
f'date (UTC) of the latest flight number is {latest["date_utc"]}'

'date (UTC) of the latest flight number is 2022-10-05T16:00:00.000Z'

In [125]:
f'the name of the latest flight is {latest["name"]}'

'the name of the latest flight is Crew-5'

In [126]:
f'Was the latest mission successful? {latest["success"]}'

'Was the latest mission successful? True'

In [130]:
f'The mission was {"" if latest["success"] else "un"}succesfull'

'The mission was succesfull'

In [133]:
with open('launches.json', 'r') as f:
    launches = json.load(f)
latest[0]

{'fairings': {'reused': False,
  'recovery_attempt': False,
  'recovered': False,
  'ships': []},
 'links': {'patch': {'small': 'https://images2.imgbox.com/94/f2/NN6Ph45r_o.png',
   'large': 'https://images2.imgbox.com/5b/02/QcxHUb5V_o.png'},
  'reddit': {'campaign': None,
   'launch': None,
   'media': None,
   'recovery': None},
  'flickr': {'small': [], 'original': []},
  'presskit': None,
  'webcast': 'https://www.youtube.com/watch?v=0a_00nJ_Y88',
  'youtube_id': '0a_00nJ_Y88',
  'article': 'https://www.space.com/2196-spacex-inaugural-falcon-1-rocket-lost-launch.html',
  'wikipedia': 'https://en.wikipedia.org/wiki/DemoSat'},
 'static_fire_date_utc': '2006-03-17T00:00:00.000Z',
 'static_fire_date_unix': 1142553600,
 'net': False,
 'window': 0,
 'rocket': '5e9d0d95eda69955f709d1eb',
 'success': False,
 'failures': [{'time': 33,
   'altitude': None,
   'reason': 'merlin engine failure'}],
 'details': 'Engine failure at 33 seconds and loss of vehicle',
 'crew': [],
 'ships': [],
 'capsules': [],
 'payloads': ['5eb0e4b5b6c3bb0006eeb1e1'],
 'launchpad': '5e9e4502f5090995de566f86',
 'flight_number': 1,
 'name': 'FalconSat',
 'date_utc': '2006-03-24T22:30:00.000Z',
 'date_unix': 1143239400,
 'date_local': '2006-03-25T10:30:00+12:00',
 'date_precision': 'hour',
 'upcoming': False,
 'cores': [{'core': '5e9e289df35918033d3b2623',
   'flight': 1,
   'gridfins': False,
   'legs': False,
   'reused': False,
   'landing_attempt': False,
   'landing_success': None,
   'landing_type': None,
   'landpad': None}],
 'auto_update': True,
 'tbd': False,
 'launch_library_id': None,
 'id': '5eb87cd9ffd86e000604b32a'}

In [137]:
from datetime import datetime

yearly_success = {}
for launch in launches:
    if launch['success']:
        year = datetime.fromisoformat(launch['date_utc']).year
        yearly_success[year] = yearly_success.get(year, 0) + 1
print(yearly_success)

{2008: 1, 2009: 1, 2010: 2, 2012: 2, 2013: 3, 2014: 6, 2015: 6, 2016: 8, 2017: 18, 2018: 21, 2019: 13, 2020: 26, 2021: 31, 2022: 43}