##### 16. Use zip to iterate to all three lists and in a for loop and print each time the first name, last name and age.

In [3]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith']
ages = [20, 40, 30]

##### 17. Calculate from the following lists the profit for each month. Identify the month with the highest profits (use zip).

In [4]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

total_sales = [52000.00, 51000.00, 48000.00, 62000.0, 42000.0, 46000.0, 39000.0, 59000.0, 64000.0, 54000.0, 44000.0, 71000.0]

prod_cost = [46800.00, 45900.00, 43200.00, 45600.00, 37200.00, 42200.00, 48900.00, 33600.00, 54200.00, 33200.00, 42100.00]

How much is the profit for December?

##### 18. Use map function and lambda to make the email from the following list lowercase:

In [5]:
lst = ["Mary@GMAIL.com", "hari@YaHoo.com", "SopHIA@qg.com", "EVan@YahoO.COM"]

##### 19. Find the movie with the highest duration, use lambda function.

In [7]:
movies = {'pulp fiction': 154, 'terminator': 107, 'aliens': 137, 'the lion king': 98, 'pink panther': 115}

#####  Write a program to filter out the even numbers from a list of integers using Lambda.

In [8]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

##### 21. Filter out the even numbers from the following list, then sort them using Lambda.

In [9]:
lst = [-4, 2, -3, 6, 3, 8, 11, -10]

##### 22. Write a function to remove all elements from a given list present in another list using lambda (and filter?).

In [10]:
lst1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst2 = [2, 4, 6, 8, 9]

##### 23. Using the filter function and lambda, find the values that are common to the two lists below.

In [12]:
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]

##### 24. Use filter and lambda to return only negative numbers from a list.

In [13]:
lst = [2, -2, -3, 4, -5, 6, 7, -8, 9, -10]

##### 25. Double the number of each element from the following list (use lambda)

In [14]:
lst = [6, 7, 23, 27, 24, 62, 87, 28, 23, 91]

##### 26. Using sorted() function and lambda sort the tuples in the list based on the last character of the second item.

In [15]:
# Cities population
lst = [(3090508, "Athens"), (9002488, "London"), (402762, "Zurich"), (198979, "Geneva"), (3769495, "Amsterdam"), (2165423, "Milano")]

##### 27. Write a Python program to find the maximum and minimum values in the previous list of tuples using lambda function.

##### 28. Remove values that are not integer from a given list using lambda function

In [16]:
lst =  [4,67,8, None, 32, 'Missing', 21, 23.3]

##### 29. Write a Python program to sort a mixed list of integers and strings using lambda.

In [18]:
lst =  [4,67,8, 'not found', 32, 'missing', 21, 23, 'warning', 'alert']

##### 30. Write a Python program to calculate the average value of numbers in a list of lists using lambda.

In [19]:
lst = [[33,4,33,22], [4,23,11,3], [1,22,75,11], [32,14,65,73], [3,2,6,8], [353,234,566,234,653]]