##### 16. Use zip to iterate to all three lists and in a for loop and print each time the first name, last name and age.

In [9]:
first_names = ['Jane', 'John', 'Jennifer']
last_names = ['Doe', 'Williams', 'Smith']
ages = [20, 40, 30]

In [10]:
for fn, ln, a in zip(first_names, last_names, ages):
    print(fn, ln, a)

Jane Doe 20
John Williams 40
Jennifer Smith 30

##### 17. Calculate from the following lists the profit for each month. Identify the month with the highest profits (use zip).

In [11]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

total_sales = [52000.00, 51000.00, 48000.00, 62000.0, 42000.0, 46000.0, 39000.0, 59000.0, 64000.0, 54000.0, 44000.0, 71000.0]

prod_cost = [46800.00, 45900.00, 43200.00, 45600.00, 37200.00, 42200.00, 48900.00, 33600.00, 54200.00, 33200.00, 42100.00]

In [12]:
monthly_profit = [(month, sales - cost) for month, sales, cost in zip(months, total_sales, prod_cost)]
monthly_profit

[('January', 5200.0),
 ('February', 5100.0),
 ('March', 4800.0),
 ('April', 16400.0),
 ('May', 4800.0),
 ('June', 3800.0),
 ('July', -9900.0),
 ('August', 25400.0),
 ('September', 9800.0),
 ('October', 20800.0),
 ('November', 1900.0)]

How much is the profit for December?

In [13]:
max(monthly_profit, key=lambda x: x[1])

('August', 25400.0)

##### 18. Use map function and lambda to make the email from the following list lowercase:

In [14]:
lst = ["Mary@GMAIL.com", "hari@YaHoo.com", "SopHIA@qg.com", "EVan@YahoO.COM"]

In [15]:
list(map(lambda em: em.lower(), lst))

['mary@gmail.com', 'hari@yahoo.com', 'sophia@qg.com', 'evan@yahoo.com']

##### 19. Find the movie with the highest duration, use lambda function.

In [16]:
movies = {'pulp fiction': 154, 'terminator': 107, 'aliens': 137, 'the lion king': 98, 'pink panther': 115}

In [17]:
max(movies, key=lambda x: movies[x])

'pulp fiction'

#####  Write a program to filter out the even numbers from a list of integers using Lambda.

In [18]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [19]:
list(filter(lambda el: el % 2 == 1, lst))

[1, 3, 5, 7, 9, 11]

##### 21. Filter out the even numbers from the following list, then sort them using Lambda.

In [20]:
lst = [-4, 2, -3, 6, 3, 8, 11, -10]

In [21]:
sorted(filter(lambda el: el % 2 == 1, lst))

[-3, 3, 11]

##### 22. Write a function to remove all elements from a given list present in another list using lambda (and filter?).

In [22]:
lst1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst2 = [2, 4, 6, 8, 9]

In [23]:
list(filter(lambda x: x not in lst2, lst1))

[1, 3, 5, 7, 10]

##### 23. Using the filter function and lambda, find the values that are common to the two lists below.

In [24]:
a = [1,2,3,5,7,9]
b = [2,3,5,6,7,8]

In [25]:
list(filter(lambda x: x in b, a))

[2, 3, 5, 7]

##### 24. Use filter and lambda to return only negative numbers from a list.

In [26]:
lst = [2, -2, -3, 4, -5, 6, 7, -8, 9, -10]

In [27]:
list(filter(lambda x: x < 0, lst))

[-2, -3, -5, -8, -10]

##### 25. Double the number of each element from the following list (use lambda)

In [28]:
lst = [6, 7, 23, 27, 24, 62, 87, 28, 23, 91]

In [29]:
list(map(lambda x: 2 * x, lst))

[12, 14, 46, 54, 48, 124, 174, 56, 46, 182]

##### 26. Using sorted() function and lambda sort the tuples in the list based on the last character of the second item.

In [30]:
# Cities population
lst = [(3090508, "Athens"), (9002488, "London"), (402762, "Zurich"), (198979, "Geneva"), (3769495, "Amsterdam"), (2165423, "Milano")]

In [31]:
list(sorted(lst, key=lambda x: x[1][-1]))

[(198979, 'Geneva'),
 (402762, 'Zurich'),
 (3769495, 'Amsterdam'),
 (9002488, 'London'),
 (2165423, 'Milano'),
 (3090508, 'Athens')]

##### 27. Write a Python program to find the maximum and minimum values in the previous list of tuples using lambda function.

In [32]:
def min_n_max(lst):
    min_ = min(lst, key=lambda x: x[0])
    max_ = max(lst, key=lambda x: x[0])
    return (min_, max_)
min_n_max(lst)

((198979, 'Geneva'), (9002488, 'London'))

##### 28. Remove values that are not integer from a given list using lambda function

In [33]:
lst =  [4,67,8, None, 32, 'Missing', 21, 23.3]

In [34]:
list(filter(lambda x: isinstance(x, int), lst))

[4, 67, 8, 32, 21]

##### 29. Write a Python program to sort a mixed list of integers and strings using lambda.

In [35]:
lst =  [4,67,8, 'not found', 32, 'missing', 21, 23, 'warning', 'alert']

In [36]:
lst1 = sorted(filter(lambda x: isinstance(x, int), lst))
lst2 = sorted(filter(lambda x: isinstance(x, str), lst))
lst1.extend(lst2)
lst1

[4, 8, 21, 23, 32, 67, 'alert', 'missing', 'not found', 'warning']

##### 30. Write a Python program to calculate the average value of numbers in a list of lists using lambda.

In [37]:
lst = [[33,4,33,22], [4,23,11,3], [1,22,75,11], [32,14,65,73], [3,2,6,8], [353,234,566,234,653]]

In [38]:
list(map(lambda inner_list: sum(inner_list) / len(inner_list), lst))

[23.0, 10.25, 27.25, 46.0, 4.75, 408.0]