##### 1. From two lists a and b, create a list of elements that are present in only one of the lists (i.e. not shared) but preserve the original order. Do not use sets.

In [1]:
lst1 = list(range(1, 160))
lst2 = list(range(170, 0, -1))

In [2]:
unique = [l for l in lst1 if l not in lst2]
unique.extend([l for l in lst2 if l not in lst1])
unique

[170, 169, 168, 167, 166, 165, 164, 163, 162, 161, 160]

##### 3. Write a list comprehension that returns tuples `(x, x**2, x**3)`  for all numbers x from 1 to 30, but only include them if x is divisible by either 3 or 4 but not both.

In [3]:
[(x, x ** 2, x ** 3) for x in range(1, 31) if (x % 3 == 0 or x % 4 == 0) and x % 12 != 0]

[(3, 9, 27),
 (4, 16, 64),
 (6, 36, 216),
 (8, 64, 512),
 (9, 81, 729),
 (15, 225, 3375),
 (16, 256, 4096),
 (18, 324, 5832),
 (20, 400, 8000),
 (21, 441, 9261),
 (27, 729, 19683),
 (28, 784, 21952),
 (30, 900, 27000)]

##### 4. Write a function that takes a list of numbers and returns a list of primes whose digits sum to an odd number.

In [4]:
def prime_special(l: list) -> list:
    return [elem for elem in l if is_prime(elem) and sum(map(int, str(elem))) % 2 == 1]

# since sqrt(n) * sqrt(n) = n any other number combination whose product would result to n must be a combination of a number
# higher that sqrt(n) and one lower. So to verify that a number is not a prime we can make sure than there is no lower or no higher 
# number than sqrt(n) that divides with no remainder n.
# In short there cant be a combination of divisors that does not involve a higher and a lower divisor than its sqrt
# the edge case is the sqrt itself which we must check too
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

In [5]:
prime_special(range(200))

[3,
 5,
 7,
 23,
 29,
 41,
 43,
 47,
 61,
 67,
 83,
 89,
 113,
 131,
 137,
 139,
 151,
 157,
 173,
 179,
 191,
 193,
 197,
 199]

##### 5. You have a list of sentences. Use list comprehension and string methods to return a list of the number of words only in those sentences that contain the word "data".

In [6]:
sentences = [
    "Quantum computing is revolutionizing the world.",
    "I love programming and solving challenging problems.",
    "The future of artificial intelligence is bright.",
    "Python is an amazing programming language.",
    "Data science combines math, statistics, and computing.",
    "Machine learning models are growing more powerful.",
    "The quick brown fox jumps over the lazy dog.",
    "This exercise data will help you improve your coding skills.",
    "Challenges help you grow DATA and learn new things.",
    "A picture is worth a thousand words."
]

In [7]:
[len(sentence.split()) for sentence in sentences if 'data' in sentence.lower()]

[7, 10, 9]

##### 6. Create a new dictionary from an existing one with only the items where the value is a float and round them to 1 decimal place.

In [8]:
d = {
    'signal_x': 474,
    'signal_x_error': 0.44,
    'signal_y': 321,
    'signal_y_error': 0.12,
    'signal_z': 0.985,
    'signal_z_error': 0.032,
    'signal_a': 512,
    'signal_b': 215,
    'error_code': 99.8
}

In [9]:
{k: round(v, 1) for k, v in d.items() if isinstance(v, float)}

{'signal_x_error': 0.4,
 'signal_y_error': 0.1,
 'signal_z': 1.0,
 'signal_z_error': 0.0,
 'error_code': 99.8}

##### 7. Using map() and a lambda, return a list of booleans where each boolean indicates whether the corresponding string in a list is a palindrome.

In [10]:
strings = [
    "racecar",
    "level",
    "hello",
    "madam",
    "world",
    "civic",
    "python",
    "deified",
    "refer",
    "noon"
]

In [11]:
list(map(lambda s: True if s[:len(s) // 2] == s[len(s) - 1: -(len(s) // 2) -1: -1] else False, strings))

[True, True, False, True, False, True, False, True, True, True]

##### 8. You have a list of full names in format 'Firstname Lastname'. Use map() to convert them into email-like format: 'firstname.lastname@email.com'.

In [12]:
names = [
    "John Doe", "Jane Smith", "Alice Johnson", "Bob Brown", "Charlie Davis",
    "Eve White", "Frank Black", "Grace Green", "Hannah Blue", "Ivy Grey"
]

In [13]:
list(map(lambda fullname: ".".join(fullname.lower().split()) + '@email.com', names))

['john.doe@email.com',
 'jane.smith@email.com',
 'alice.johnson@email.com',
 'bob.brown@email.com',
 'charlie.davis@email.com',
 'eve.white@email.com',
 'frank.black@email.com',
 'grace.green@email.com',
 'hannah.blue@email.com',
 'ivy.grey@email.com']

##### 9. Use filter() and a lambda to remove all sublists from a list of lists that contain negative numbers.

In [14]:
lists = [
    [1, 2, 3], 
    [-1, 2, 3], 
    [4, 5, 6], 
    [-4, -5, 6], 
    [7, 8, 9], 
    [-7, 8, 9]
]

In [15]:
list(filter(lambda l: sorted(l)[0] >= 0, lists))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [16]:
lists

[[1, 2, 3], [-1, 2, 3], [4, 5, 6], [-4, -5, 6], [7, 8, 9], [-7, 8, 9]]

##### 10. Given a list of student dictionaries (with 'name', 'math', 'history', 'science' scores), return a list of names of students whose average score is above 75.

In [17]:
students = [
    {"name": "John", "math": 80, "history": 70, "science": 75},
    {"name": "Jane", "math": 85, "history": 90, "science": 80},
    {"name": "Alice", "math": 60, "history": 65, "science": 70},
    {"name": "Bob", "math": 90, "history": 95, "science": 100},
    {"name": "Charlie", "math": 70, "history": 65, "science": 60}
]

In [18]:
[d.get('name', 'unknown') for d in students if (d.get('math', 0) + d.get('science', 0) + d.get('history', 0)) / 3 > 75]

['Jane', 'Bob']

##### 11. From a dictionary of items and their weights in grams, filter out items whose weight is less than the median weight. Use dictionary comprehension.

In [19]:
items_dict = {
    "item1": 50, 
    "item2": 150, 
    "item3": 200, 
    "item4": 300, 
    "item5": 25, 
    "item6": 175
}

In [20]:
items = sorted(items_dict.values())
median_weight = items[len(items) // 2] if len(items) % 2 == 1 else (items[len(items) // 2 - 1] + items[-(len(items) // 2)]) / 2
median_weight

162.5

In [21]:
{k: v for k, v in items_dict.items() if v >= median_weight}

{'item3': 200, 'item4': 300, 'item6': 175}

#### 12. Given a temperature log (dict of date: temp), create a new dict containing only entries where the temperature increased compared to the previous day

In [22]:
temperature_log = {
    "2025-03-30": 17.1,
    "2025-03-31": 17.2,
    "2025-04-01": 18.5,
    "2025-04-02": 19.0,
    "2025-04-03": 21.0,
    "2025-04-04": 20.5,
    "2025-04-05": 22.0,
    "2025-04-06": 23.0,
    "2025-04-08": 24.0,
    "2025-04-09": 23.0,
}

In [23]:
from datetime import datetime, timedelta
DATE_FORMAT = '%Y-%m-%d'

def is_previous_colder(d: dict, today_string) -> bool:
    today = datetime.strptime(today_string, DATE_FORMAT)
    yesterday = today - timedelta(days=1)
    yesterday_string = yesterday.strftime(DATE_FORMAT)

    if d.get(yesterday_string) and d.get(yesterday_string) < d.get(today_string):
        return True

{k: v for k, v in temperature_log.items() if is_previous_colder(temperature_log, k)}

{'2025-03-31': 17.2,
 '2025-04-01': 18.5,
 '2025-04-02': 19.0,
 '2025-04-03': 21.0,
 '2025-04-05': 22.0,
 '2025-04-06': 23.0}

##### 13. Write a function that finds the most frequent pair of consecutive letters in a string. Ignore spaces and punctuation.

In [24]:
sentence = "the quick brown fox jumps over the lazy dog dog dogog"

In [25]:
from collections import defaultdict

def most_common_pair(s: str) -> str:
    d = defaultdict(int)
    one_word = "".join(s.split())
    for index in range(0, len(one_word) - 1):
        d[one_word[index] + one_word[index + 1]] += 1
    return max(d, key=lambda k: d.get(k))

In [26]:
most_common_pair(sentence)

'og'

##### 14. You are given a dictionary of users and their last login timestamps. Remove any user who hasnâ€™t logged in the last 30 days. Assume current time is `now = datetime.now()` and timestamps are datetime objects.

In [27]:
from datetime import datetime, timedelta

now = datetime.now()
users_last_login = {
    "john": now - timedelta(days=5),
    "jane": now - timedelta(days=10),
    "alice": now - timedelta(days=31),
    "bob": now - timedelta(days=2),
    "charlie": now - timedelta(days=42)
}

In [28]:
{k: v for k, v in users_last_login.items() if now - timedelta(days=30) <= v}

{'john': datetime.datetime(2025, 4, 20, 16, 0, 57, 553027),
 'jane': datetime.datetime(2025, 4, 15, 16, 0, 57, 553027),
 'bob': datetime.datetime(2025, 4, 23, 16, 0, 57, 553027)}

##### 15. Given a nested dictionary of product categories and product prices, flatten it into a single dictionary with keys as category_product and values as the price.

In [29]:
products = {
    "fruits": {"apple": 1.5, "banana": 1.2},
    "drinks": {"water": 0.5, "soda": 1.1},
    "snacks": {"chips": 2.0, "cookies": 1.8}
}

In [30]:
{product: price for category in products.values() for product, price in category.items()}

{'apple': 1.5,
 'banana': 1.2,
 'water': 0.5,
 'soda': 1.1,
 'chips': 2.0,
 'cookies': 1.8}

##### 16. Create a dictionary where the key is a lowercase letter and the value is how many times it appears in a given string (ignore case, skip non-alpha).

In [31]:
input_string = "The quick brown fasAAAAAdfsds---ox asdasd ,...jumps over the lazy dog"

In [ ]:
d = defaultdict(int)
for ch in input_string:
    if ch.isalpha():
        d[ch.lower()] += 1
# from collections import Counter # This is better
# d=Counter([ch.lower() for ch in input_string if ch.isalpha()])
sorted(d.items())

[('a', 9),
 ('b', 1),
 ('c', 1),
 ('d', 5),
 ('e', 3),
 ('f', 2),
 ('g', 1),
 ('h', 2),
 ('i', 1),
 ('j', 1),
 ('k', 1),
 ('l', 1),
 ('m', 1),
 ('n', 1),
 ('o', 4),
 ('p', 1),
 ('q', 1),
 ('r', 2),
 ('s', 6),
 ('t', 2),
 ('u', 2),
 ('v', 1),
 ('w', 1),
 ('x', 1),
 ('y', 1),
 ('z', 1)]

##### 17. Use dictionary comprehension to invert a dictionary, but group together keys that share the same value into a list.

In [33]:
original_dict = {
    'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2, 'f': 1
}

In [ ]:
d = {}
for k, v in original_dict.items():
    # d[v] = d.get(v, list()) also works but slower.
    d.setdefault(v, list())
    d[v].append(k)
d
# made it work even without a default dict
# cant make it work with comprehension it can't reference itself.

{1: ['a', 'c', 'f'], 2: ['b', 'e'], 3: ['d']}

##### 18. Given two sets, return a list of elements that are in exactly one of the sets but also divisible by 3 or 7.

In [35]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9}
set2 = {5, 6, 7, 10, 11, 12, 14}

In [36]:
list(filter(lambda el: el % 3 == 0 or el % 7 == 0, set1 ^ set2))

[3, 9, 12, 14]

##### 19. Write a function that takes a list of numbers and returns the maximum product of any 3 elements. Do not sort the list.

In [37]:
numbers = [1, 10, -5, 7, 6, -3, 8, 2]

In [38]:
from itertools import combinations
from functools import reduce, partial
from operator import mul

def max_three_way_product(lst: list) -> int:
    product = partial(reduce, mul)
    right_combo =  max(combinations(lst, r=3), key=product)
    return f'{right_combo} with a product of {product(right_combo)}'

max_three_way_product(numbers)

'(10, 7, 8) with a product of 560'

##### 20. Create a generator function that yields squares of numbers from 1 to n, but skips numbers whose square ends with 9.

In [39]:
def gen_squares_filtered(n):
    for n in range(1, n + 1):
        square = n ** 2
        if str(square)[-1] != '9':
            yield square
list(gen_squares_filtered(10))

[1, 4, 16, 25, 36, 64, 81, 100]