1. Open the video game sales using pandas. Check characteristics of the dataset. What is the shape of the dataset, what are the statistics of the columns, are there any NaNs?

In [55]:
import pandas as pd
df = pd.read_csv('csv/vgsales.csv')

2. Clean the dataset (if you find any NaNs)

In [56]:
df.dropna(inplace=True)

3. Which game has the highest global sales? What is its platform?

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16291 entries, 0 to 16597
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          16291 non-null  object
 1   Platform      16291 non-null  object
 2   Year          16291 non-null  float64
 3   Genre         16291 non-null  int64
 4   Publisher     16291 non-null  object
 5   NA_Sales      16291 non-null  float64
 6   EU_Sales      16291 non-null  float64
 7   JP_Sales      16291 non-null  float64
 8   Other_Sales   16291 non-null  float64
 9   Global_Sales  16291 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 1.4+ MB

4. Which are the platforms in the dataset?

In [58]:
df[df['Global_Sales'] == df['Global_Sales'].max()]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,1,Nintendo,41.49,29.02,3.77,8.46,82.74

5. Which are the top ten selling games for PS4 (Global sales)? Is this the same for Europe and Japan sales combined?

In [59]:
global_sales_sorted = df.sort_values("Global_Sales", ascending=False).head(10)
global_sales_sorted

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Wii Sports,Wii,2006.0,1,Nintendo,41.49,29.02,3.77,8.46,82.74
1,Super Mario Bros.,NES,1985.0,2,Nintendo,29.08,3.58,6.81,0.77,40.24
2,Mario Kart Wii,Wii,2008.0,3,Nintendo,15.85,12.88,3.79,3.31,35.82
3,Wii Sports Resort,Wii,2009.0,1,Nintendo,15.75,11.01,3.28,2.96,33.00
4,Pokemon Red/Pokemon Blue,GB,1996.0,4,Nintendo,11.27,8.89,10.22,1.00,31.37
5,Tetris,GB,1989.0,5,Nintendo,23.20,2.26,4.22,0.58,30.26
6,New Super Mario Bros.,DS,2006.0,2,Nintendo,11.38,9.23,6.50,2.90,30.01
7,Wii Play,Wii,2006.0,6,Nintendo,14.03,9.20,2.93,2.85,29.02
8,New Super Mario Bros. Wii,Wii,2009.0,2,Nintendo,14.59,7.06,4.70,2.26,28.62
9,Duck Hunt,NES,1984.0,7,Nintendo,26.93,0.63,0.28,0.47,28.31

In [60]:
df['JPN_EU_SALES'] = df['EU_Sales'] + df['JP_Sales']
eu_jpn_sales_sorted = df.sort_values('JPN_EU_SALES', ascending=False).head(10)
eu_jpn_sales_sorted

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,JPN_EU_SALES
0,Wii Sports,Wii,2006.0,1,Nintendo,41.49,29.02,3.77,8.46,82.74,32.79
4,Pokemon Red/Pokemon Blue,GB,1996.0,4,Nintendo,11.27,8.89,10.22,1.00,31.37,19.11
2,Mario Kart Wii,Wii,2008.0,3,Nintendo,15.85,12.88,3.79,3.31,35.82,16.67
6,New Super Mario Bros.,DS,2006.0,2,Nintendo,11.38,9.23,6.50,2.90,30.01,15.73
3,Wii Sports Resort,Wii,2009.0,1,Nintendo,15.75,11.01,3.28,2.96,33.00,14.29
19,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,6,Nintendo,4.75,9.26,4.16,2.05,20.22,13.42
12,Pokemon Gold/Pokemon Silver,GB,1999.0,4,Nintendo,9.00,6.18,7.20,0.71,23.10,13.38
10,Nintendogs,DS,2005.0,8,Nintendo,9.07,11.00,1.93,2.75,24.76,12.93
7,Wii Play,Wii,2006.0,6,Nintendo,14.03,9.20,2.93,2.85,29.02,12.13
8,New Super Mario Bros. Wii,Wii,2009.0,2,Nintendo,14.59,7.06,4.70,2.26,28.62,11.76

We can see that the ranking are different by eye, but can also verify to programmatically by comparing the indices' contents.

In [61]:
eu_jpn_sales_sorted.index.to_list() == global_sales_sorted.index.to_list()

False

6. How many games were released for XOne in 2016? Which was the top selling game in Europe?

In [71]:
games_2016_xone = df[(df['Platform'] == 'XOne') & (df['Year'] == 2016)]
games_2016_xone.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,JPN_EU_SALES
845,Tom Clancy's The Division,XOne,2016.0,7,Ubisoft,1.20,0.62,0.0,0.18,2.01,0.62
1224,FIFA 17,XOne,2016.0,1,Electronic Arts,0.17,1.26,0.0,0.10,1.53,1.26
2434,Far Cry: Primal,XOne,2016.0,9,Ubisoft,0.46,0.32,0.0,0.07,0.85,0.32
2444,Overwatch,XOne,2016.0,7,Activision,0.52,0.25,0.0,0.08,0.85,0.25
2505,Madden NFL 17,XOne,2016.0,1,Electronic Arts,0.72,0.02,0.0,0.09,0.82,0.02

In [72]:
games_2016_xone['Name'].count()

54

In [76]:
games_2016_xone[games_2016_xone['EU_Sales'] == games_2016_xone['EU_Sales'].max()]

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,JPN_EU_SALES
1224,FIFA 17,XOne,2016.0,1,Electronic Arts,0.17,1.26,0.0,0.1,1.53,1.26

7. Replace where XOne with ‘X Box One’

In [81]:
replace_xbox = df['Platform'].replace('XOne', 'X Box One')
replace_xbox[replace_xbox == 'X Box One']

101      X Box One
193      X Box One
197      X Box One
260      X Box One
287      X Box One
           ...
16530    X Box One
16531    X Box One
16562    X Box One
16569    X Box One
16576    X Box One
Name: Platform, Length: 213, dtype: object

8. How many PC games have higher sales than 3 million global sales?

In [88]:
df[df['Global_Sales'] > 3]['Name'].count()

464

9. In which year the most games were released?

In [102]:
df['Year'] = df['Year'].astype('int64')
games_per_year_sorted = df.groupby('Year')['Name'].count().sort_values(ascending=False)
games_per_year_sorted.head()

Year
2009    1431
2008    1428
2010    1257
2007    1201
2011    1136
Name: Name, dtype: int64

In [105]:
games_per_year_sorted[games_per_year_sorted == games_per_year_sorted.max()]
# or
games_per_year_sorted.head(1)

Year
2009    1431
Name: Name, dtype: int64

10. Which platform had the most releases that year?

In [112]:
df_in_best_year = df[df['Year'] == games_per_year_sorted.head(1).index.to_list()[0]]
df_in_best_year.head()

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,JPN_EU_SALES
3,Wii Sports Resort,Wii,2009,1,Nintendo,15.75,11.01,3.28,2.96,33.00,14.29
8,New Super Mario Bros. Wii,Wii,2009,2,Nintendo,14.59,7.06,4.70,2.26,28.62,11.76
14,Wii Fit Plus,Wii,2009,1,Nintendo,9.09,8.59,2.53,1.79,22.00,11.12
36,Call of Duty: Modern Warfare 2,X360,2009,7,Activision,8.52,3.63,0.08,1.29,13.51,3.71
45,Pokemon HeartGold/Pokemon SoulSilver,DS,2009,9,Nintendo,4.40,2.77,3.96,0.77,11.90,6.73

In [115]:
releases_per_platform_best_year = df_in_best_year.groupby('Platform')['Name'].count()
releases_per_platform_best_year

Platform
DS      405
PC      109
PS2      96
PS3     162
PSP     161
Wii     325
X360    173
Name: Name, dtype: int64

In [116]:
releases_per_platform_best_year.sort_values(ascending=False)[:1]

Platform
DS    405
Name: Name, dtype: int64